RehearsalReservationCore/src/rehearsalServer/saxParser/Gateway.dtd


<!ELEMENT gateways (gateway)>
<!-- Etiqueta raiz gateway -->
<!ELEMENT gateway (serviceName, technology, details)>

<!-- Elementos hijos del gateway -->
<!ELEMENT serviceName (#PCDATA)>
<!ELEMENT technology (#PCDATA)>

<!ELEMENT details (detail+)>
<!ELEMENT detail EMPTY>
<!ATTLIST detail name CDATA #REQUIRED>